{% extends "relay-list.html" %}
{% set country_orig = relays.json['relay_subset'][0]['country_name']|escape %}
{% set country_abbr = relays.json['relay_subset'][0]['country']|escape %}
{% if country_orig in sp_countries %}
    {% set country_name = 'The ' + country_orig %}
{% else %}
    {% set country_name = country_orig %}
{% endif %}
{% block title %}Tor Relays :: {{ country_orig }}{% endblock %}
{% block header %}<a href="../../">Home</a> :: {{ country_name }}{% endblock %}
{% block description %}{{ country_name }} ({{ country_abbr }}) is responsible
for ~{{ bandwidth }} MB/s of traffic, with {% if middle_count > 0 %}{{
middle_count }} middle relay{% if middle_count > 1 %}s{% endif %}{% if
exit_count > 0 %} and {% endif %}{% endif %}{% if exit_count > 0 %}{{ exit_count
}} exit relay{% if exit_count > 1 %}s{% endif %}{% endif %}.{% endblock %}
