{% extends "relay-list.html" %}
{% block title %}Tor Relays :: Family {{ value|escape }}{% endblock %}
{% block header %}<a href="../../">Home</a> :: Family <code>{{ value|escape
}}</code>{% endblock %}
{% block description %}Relays with effective family member <code>{{ value|escape
}}</code> are responsible for ~{{ bandwidth }} MB/s of traffic, with {% if
middle_count > 0 %}{{ middle_count }} middle relay{% if middle_count > 1 %}s{%
endif %}{% if exit_count > 0 %} and {% endif %}{% endif %}{% if exit_count
> 0 %}{{ exit_count }} exit relay{% if exit_count > 1 %}s{% endif %}{% endif
%}.{% endblock %}
