{% extends "relay-list.html" %}
{% set platform = relays.json['relay_subset'][0]['platform']|escape %}
{% block title %}Tor Relays :: {{ platform }}{% endblock %}
{% block header %}<a href="../../">Home</a> :: {{ platform }}{% endblock %}
{% block description %}{{ platform }} systems are responsible for ~{{ bandwidth
}} MB/s of traffic, with {% if middle_count > 0 %}{{ middle_count }} middle
relay{% if middle_count > 1 %}s{% endif %}{% if exit_count > 0 %} and {% endif
%}{% endif %}{% if exit_count > 0 %}{{ exit_count }} exit relay{% if exit_count
> 1 %}s{% endif %}{% endif %}.{% endblock %}
